
# =================================================================== #
#                      ECONOMY AND CURRENCY                           #
# =================================================================== #

# type :
# ITEM - shops will use a specified item as the currency (default is Emerald). To change this item in-game, run the
#        command '/shop setcurrency while holding the item in your hand you want to use as currency.
# VAULT - shops will use Vault as the currency. (This requires Vault to be installed on the server)
# EXPERIENCE - shops will use experience points as the currency

# name :
# This is the name of the currency that shows up on signs. If you are using ITEM, you will want to change
# this to the type of item being used. If you are using VAULT, you will want to change this to a currency symbol
# like '$'. If you are using EXPERIENCE, you will want to name this "Experience" or something similar

# format :
# This is the order in which prices are displayed. For example, if you are using ITEM with Emeralds as the currency,
# '[price] [name]' would show '5 Emerald(s)'. If you are using VAULT, this would show '5 $', so setting this as
# '[name][price]' would show '$5'.
currency:
   type: ITEM
   name: "Emerald(s)"
   format: "[price] [name]"

# The amount of money a player is charged to create a shop #
creationCost: 0
# The amount of money a player is charged to destroy a shop #
destructionCost: 0
# The amount of money a player is charged to teleport to a shop (via the GUI) #
teleportCost: 0

# This returns the creation cost to the shop creator when the shop is destroyed #
# Adds virtual funds if using vault currency and drops the item on the chest location if using physical currency #
returnCreationCost: false

# =================================================================== #
#                         DISPLAY SETTINGS                            #
# =================================================================== #

# This will change the type of display that shops will use by default above their chests #
# The options are: NONE, ITEM, GLASS_CASE, LARGE_ITEM, ITEM_FRAME #
displayType: ITEM

# This will show the name tags above the display items #
# The options are: NONE, RIGHT_CLICK_CHEST, VIEW_SIGN #
displayNameTags: VIEW_SIGN

# This is how long display name tags are shown for after looking away (in seconds) #
displayNameTagsLifespan: 0

# This will change the order that display types are cycled in #
# To remove a display type as a cycle option, remove it from this list #
# The options are: NONE, ITEM, GLASS_CASE, LARGE_ITEM, ITEM_FRAME #
displayCycle:
   - NONE
   - ITEM
   - GLASS_CASE
   - LARGE_ITEM
   - ITEM_FRAME

# This will force shop display to be set to NONE if the display has no room #
# If this is false, the shop will simply say it cannot be created because the display is blocked #
forceDisplayToNoneIfBlocked: true

# This controls what light level (0 to 15) shop displays emit #
# THIS CAN ONLY BE USED IN MINECRAFT 1.17 OR ABOVE #
displayLightLevel: 0

# This controls whether the item frames of shop displays are glowing #
# THIS CAN ONLY BE USED IN MINECRAFT 1.17 OR ABOVE #
setGlowingItemFrame: false

# =================================================================== #
#                         GENERAL SETTINGS                            #
# =================================================================== #

# If you do not use a permissions plugin, you should set this to false #
usePermissions: true

# This runs a check and notifies operators on login that a new Shop version is available #
checkUpdates: true

# This enables a graphical user interface to use all shop features without typing commands #
enableGUI: true

# This is the command alias that will be used as the base for all shop commands #
commandAlias: shop

# These are the methods players are able to use to create shops #
# placeSign - players can place signs on chests and fill out the info on the sign itself #
# hitChest - players can hit a chest and they will be prompted to fill out the info in chat. A sign will be created. #
creationMethod:
   placeSign: true
   hitChest: true

# This will make it so shops will only complete transactions if the item durabilities are the same #
checkItemDurability: true

# This will allow players to use the limited creative selection tool to choose shop items #
allowCreativeSelection: true

# This will permanently delete a player's shops if they have not logged onto the server after X hours #
# Set this to 0 to never auto-delete a player's shops #
deletePlayerShopsAfterXHoursOffline: 0

# These will play sounds and particle effects when creating and using shops #
# These will need to be set to false if your server is running anything less than Minecraft 1.9 #
playSounds: true
playEffects: true

# This controls whether shop sign text should be glowing by default #
# THIS CAN ONLY BE USED IN MINECRAFT 1.17 OR ABOVE #
setGlowingSignText: false

# This controls whether or not ender chests are able to be used as shops on the server #
enableEnderChests: false

# If this is set to true, LEFT side of combo shop signs will BUY items and RIGHT side will SELL items #
# If this is set to false, LEFT side of combo shop signs will SELL items and RIGHT side will BUY items #
inverseComboShops: false

# Options:
# NONE - all items can be listed in shops
# DENY_LIST - all items except those defined in itemList.yml can be listed in shops
# ALLOW_LIST - only items defined in itemList.yml can be listed in shops
itemList: NONE

# Add the names of worlds that you do not want shops to be able to be created in here #
worldBlacklist:
   - "example_world"
   - "example2_world"

# Here you can map player actions on shops to specific controls
#   - LEFT_CLICK_SIGN
#   - SHIFT_LEFT_CLICK_SIGN
#   - RIGHT_CLICK_SIGN
#   - SHIFT_RIGHT_CLICK_SIGN
#
#   - LEFT_CLICK_CHEST
#   - SHIFT_LEFT_CLICK_CHEST
#   - RIGHT_CLICK_CHEST
#   - SHIFT_RIGHT_CLICK_CHEST
actionMappings:
   transactWithShop: RIGHT_CLICK_SIGN
   transactWithShopFullStack: SHIFT_RIGHT_CLICK_SIGN
   viewShopDetails: LEFT_CLICK_CHEST
   cycleShopDisplay: SHIFT_RIGHT_CLICK_CHEST


# =================================================================== #
#                    INTEGRATION HOOK SETTINGS                        #
# =================================================================== #

# Setting this to true will force all Shops to be created in WorldGuard regions with a shop flag #
# WorldGuard plugin must be installed for this feature to work #
hookWorldGuard: false

# Setting this to true will force all Shops to be created in Towny regions where the players are residents #
# Towny plugin must be installed for this feature to work #
hookTowny: false

# If you use DynMap, this controls how shops show up as markers #
dynmap-marker:
   enabled: false
   name: Shop
   preview: "[item](x[item amount]) - [shop type] - [price]"
   description: "Item: [item](x[item amount])<br />Owner: [owner]<br />Type: [shop type]<br />Price: [price]<br />Stock: [stock]<br />---------------<br />[location]<br />"

# If you use BlueMap, this controls how shops show up as markers #
#bluemap-marker:
#   enabled: true
#   type: "extrude"
#   label: "shop"
#   detail: "Item: [item](x[item amount])<br />Owner: [owner]<br />Type: [shop type]<br />Price: [price]<br />Stock: [stock]<br />---------------<br />[location]<br />"
#   shapeMinY: 66
#   shapeMaxY: 88
#   depthTest: true
#   lineWidth: 3
#   lineColor: '{ "r": 0, "g": 255, "b": 0, "a": 1 }'
#   fillColor: '{ "r": 0, "g": 200, "b": 0, "a": 0.2 }'
#   minDistance: 10.0
#   maxDistance: 500.0

# =================================================================== #
#                         LOGGING SETTINGS                            #
# =================================================================== #

# All logging functionality requires a Hikari compatible database to be defined and enabled #
# Logging is optional, but if you do want to use logging, a database is required #

# For a list of popular datasources that are compatible with Hikari, please see the link below #
# https://github.com/brettwooldridge/HikariCP#popular-datasource-class-names #

# TO ENABLE LOGGING -> fill out the hikari.properties file in the main Shop folder #
